body {
    background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
    text-align: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

h1 { margin-top: 20px; }

#wheelContainer {
    position: relative;
    margin: 30px auto;
    width: 550px;
}


#wheelCanvas {
    background: #c0c9bf;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255,215,0,0.5);
}

/* Pointer */
#pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: gold;
    z-index: 10;
}

#spinBtn {
    padding: 12px 40px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: #1afa0a;
    cursor: pointer;
}

#result {
    margin-top: 25px;
    font-size: 24px;
    color: gold;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #111;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    animation: pop 0.6s ease;
    box-shadow: 0 0 30px gold;
}

.popup-box h2 {
    color: gold;
    margin-bottom: 20px;
}

.popup-box button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: gold;
    cursor: pointer;
}

.hidden { display: none; }

@keyframes pop {
    from { transform: scale(0.3); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

